body {
  font-family: Arial;
  background: #1e3c72;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
}

input, button {
  width: 100%;
  margin-top: 10px;
}
