
services:
  web:
    build: ./web
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: >
      sh -c "
      until nc -z db 5432; do echo 'Waiting for DB'; sleep 1; done &&
      until nc -z redis 6379; do echo 'Waiting for Redis'; sleep 1; done &&
      node index.js
      "

  db:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DB: notesdb
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    volumes:
      - redisdata:/data

  adminer:
    image: adminer
    ports:
      - "8084:8080"

volumes:
  pgdata:
  redisdata:
